
.game
{
    margin-left: 15px;
    margin-top: 15px;
    display: table;
    width:auto;
}

.game section
{
    width:auto;
}

.game div
{
    cursor: default;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid #000000;
    height:100px;
    display:table-cell;
    width:100px;
    background-color:#12f345;
}

.game div:empty{
    background-color:#FFFF00;    
} 

.winningLogo{
    margin-left: 15px;
    text-align: center;
    font-size: 70px;
    width: 416px;
    height: 100px;
    display: none;
    background-color: #0080ff
}
