/* Стили для пятнашек опишите в этом файле */
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

.table
{
	border-collapse: collapse;
	margin: 100px auto 0;
	transition: box-shadow .5s ease-out;
	box-shadow: 0 0 0 0 #f00;
}

.cell
{
	width: 100px;
	height: 100px;
	cursor: pointer;
	user-select: none;
	background-color: #000;
	color: #fff;
    border: 1px solid #fff;
	text-align: center;
	font-size: 30px;
	font-family: 'Love Ya Like A Sister', cursive;
}

.free
{
	background-color: #555;
}

.win
{
	box-shadow: 0 0 26px 23px #f00;
}