body, html {
    height: 100%;
}

#playground {
    padding: 32px 16px;
}

#win-message {
    margin: 0;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: royalblue;
    visibility: hidden;
}

.button {
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    height: 20%;
    width: 10%;
    font-size: 20px;
    padding: 32px 32px;
    cursor: pointer;
    border: 2px solid #e7e7e7;
}

.button:hover {
    background-color: #e7e7e7;
}